*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: aliceblue;
    display: flex;
}
#banner{
    background-color:burlywood;
    width: 83vw;
    height: 15vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    display: flex;
    flex-wrap: wrap;
    
}
#banner h1{
    width: 100%;
    text-align: center;
    color: aliceblue;
    text-shadow: 2px 2px 4px #000; 
}
#logo{
    width: 15vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    
}
#menuprincipal ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
}
#menuprincipal li{
    padding: 3.8vh;
    align-items: center;
    background-color: rgb(56, 99, 100);
}
#menuprincipal ul li{
    border-radius: 40px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}
.linha:hover {
    transform: scale(1.2); 
  }
a{
    color: aliceblue;
    text-decoration: none;
}
#linha{
    text-decoration: none;
    color: aliceblue;
}

#logo img{
    border-radius: 100%;
}
#menu2{
    background-color: rgb(56, 99, 100);
    width: 25vw;
    height: 133vh;
    background-repeat: no-repeat;
    background-size: cover;
}
#menuprincipal{
    background-color:rgb(117, 198, 245);
    width: 75vw;
    height: 10vh;
    border-radius: 20px;
    background-image: url(../img/source.gif);
    background-size: contain;
    background-position: center;
}
#conteudo{
    background-color:cadetblue;
    width: 75vw;
    height: 123vh;
    border-radius: 20px;
}
body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color:cadetblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#banner{
    background-image: url(../img/CONHECA-E-APRENDA-A-IDENTIFICAR-AS-RACAS-DE-GATOS-MAIS-COMUNS-NO-BRASIL-1024x576.jpg);
}
#linha2{
    display: flex;
}
#rodape{
    background-color: rgb(56, 99, 100);
    height: 8vh;
    width: 100vw;
}
#rodape p{
    justify-content: center;
    align-content: center;
    display: flex;
    text-shadow: 2px 2px 4px #000; 
    color: aliceblue;
}
#conteudo ol{
    color: aliceblue;
    margin-top: 2.5vh;
}
ol li::marker {
    color: rgb(56, 99, 100); 
}
#conteudo h2{
    padding: 1vh;
    justify-content: center;
    align-content: center;
    display: flex;
    color: rgb(25, 46, 46);
}
#textao {
    display: flex;
    justify-content: center;
}
#gatos img{
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
}
.persa p {
    flex: 1 1 500px;
    padding: 20px;
}
.maine {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


